

  .rectangle {
    height: 56px;
    width: 428px;
    background-color: #0C1026;
  }

  .avatar {
    width:150px;
    height: 56px;
    display:inline-block;
    padding-top: 21.07px;
  }
  .mainLogo{
    display:inline-block;
    width:250px;
    height: 56px;
  }
  .avatarImg{
      margin: 0 auto;
      display:block;
      float:right;
  }

  .logo{
    float:right;
  }
  